<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Rest assured test suite">
    <test name="Rest assured test cases of JIRA Application">
        <packages>
            <package name="A_Issues_Basic"></package>
            <package name="B_Issues_Standard"></package>
            <package name="C_Issues_Advanced"></package>
            <package name="D_Attachment"></package>
        </packages>
    </test>

</suite>
