<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Rest assured test suite">
    <test name="Rest assured test cases of JIRA Application">
        <packages>
            <package name="Attachment.test"></package>
<!--            <package name="Issues_Advanced"></package>-->
<!--            <package name="Issues_Basic"></package>-->
<!--            <package name="Issues_Standard"></package>-->
        </packages>
    </test>
</suite>
